body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #f8f9fa, #e9f5ee);
}

.card {
    border: none;
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.form-control {
    border-radius: 8px;
}

.btn {
    border-radius: 8px;
}

.dropdown-menu {
    width: 220px;
    border-radius: 10px;
}