/* FONT + BACKGROUND */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #f8f9fa, #e9f5ee);
}

/* AUTH CARD */
.auth-card {
    width: 350px;
    border-radius: 12px;
    border: none;
}

/* INPUT STYLE */
.form-control {
    border-radius: 8px;
    padding: 10px;
}

/* BUTTON */
.btn {
    border-radius: 8px;
}

/* LINK */
a {
    text-decoration: none;
    color: #198754;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}